@import "fonts.css";

:root {
    --clr-background: #000503;
    --clr-foreground: #F1E2F1;
    --clr-foreground-dark: #414141;
    --clr-primary: #5ae4a9;
    --clr-info: #88d6f1;
    --clr-warning: #f1d088;

    --gap-md: 0.8rem;

    --font-default: "pixel-font";
    --font-mono: "mono-pixel-font";
}

html {
    scroll-padding-top: 4em;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-default), monospace;
    color: var(--clr-foreground);
    background-color: var(--clr-background);
}

main {
    max-width: 890px;
    margin-inline: auto;
    padding-inline: var(--gap-md);
}

img {
    image-rendering: pixelated;
}

* {
    box-sizing: border-box;
}

::selection {
    background: var(--clr-foreground);
    color: var(--clr-background);
}

.loading-spinner {
    background-image: url(/assets/icons/loading.png);
    background-size: 100% 800%;
    background-repeat: no-repeat;
    background-position: 0 0;
    image-rendering: pixelated;
    -webkit-optimize-contrast: none;
}

@keyframes pixel-spin {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 100%;
    }
}
/* Buttons */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none !important;
    gap: 0.5rem;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 200ms ease, filter 200ms ease, color 200ms ease, border-color 200ms ease;
}
.btn:disabled {
    filter: brightness(0.5);
    cursor: not-allowed;
}
.btn.btn-default {
    border-image: url("/assets/button_base.png") 32 / 32px round;
}
.btn.btn-default:hover:not(:disabled), .btn.btn-default:focus-visible:not(:disabled) {
    border-image: url("/assets/button_base_hover.png") 32 / 32px round;
}
.btn.btn-primary {
    border-image: url("/assets/button_primary.png") 32 / 32px round;
}
.btn.btn-primary:hover:not(:disabled), .btn.btn-primary:focus-visible:not(:disabled) {
    border-image: url("/assets/button_primary_hover.png") 32 / 32px round;
}

/* Info boxes */
.info-box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: var(--gap-md);
    gap: var(--gap-md);
    image-rendering: pixelated;
}

.info-box-icon {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    user-select: none;
}

.info-box-info {
    border-image: url("/assets/box_info.png") 32 / 32px round;
    color: var(--clr-info);
}

.info-box-warning {
    border-image: url("/assets/box_warning.png") 32 / 32px round;
    color: var(--clr-warning);
}

/* input */
.input-wrapper {
    position: relative;
    padding: var(--gap-md);
    width: 100%;
    border-image: url("/assets/input_base.png") 31 / 31px round;
}
.input-wrapper:has(input:focus-visible) {
    border-image: url("/assets/input_base_focus.png") 32 / 32px round;
}
.input-wrapper::after {
    content: "";
    position: absolute;
    display: block;
    width: 1ch;
    height: 3px;
    background-color: var(--clr-foreground);
    bottom: calc(var(--gap-md) - 3px);
    left: min(calc((var(--_caret-offset) * 1ch) + 1.5ch), 100%);
}
.input-wrapper:has(input:focus-visible)::after {
    transition: opacity 0ms;
    animation: caretBlink 1s infinite;
}
.input-wrapper-no-caret:has(input:focus-visible)::after {
    opacity: 0 !important;
}
.input-wrapper-no-caret:has(input:focus-visible) input {
    caret-color: var(--clr-foreground) !important;
}
.input-wrapper input {
    caret-color: transparent;
    font-family: "mono-pixel-font", monospace !important;
    padding: 0;
    outline: none;
    flex-grow: 1;
    width: 100%;
}

@keyframes caretBlink {
    0%,69% {
        opacity: 1;
    }
    70%, 99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Floating icons */
.object_spawner {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    filter: brightness(0.5) grayscale(0.3);
    inset: 0;
}
.object_spawner > * {
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    25% {
        transform: translateY(10px) rotate(-10deg);
    }
    50% {
        transform: translateY(-10px) rotate(10deg);
    }
    75% {
        transform: translateY(10px) rotate(-10deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

/* other */
.app-header {
    height: 20px;
    max-width: initial;
}

.sect {
    border-image: url(/assets/section.png) 32 / 32px round;
    padding: var(--gap-md) var(--gap-md);
}

section#features :is(p, ul) {
    padding-bottom: var(--gap-md);
}
/* Tailwind extensions */
.text-primary {
    color: var(--clr-primary);
}
.text-warning {
    color: var(--clr-warning);
}
.font-mono {
    font-family: var(--font-mono) monospace;
}

.border-sep {
    outline: 3px solid var(--clr-foreground-dark);
    outline-offset: -3px;
}
.border-t-sep {
    border-top: 3px solid var(--clr-foreground-dark);
}
.border-b-sep {
    border-bottom: 3px solid var(--clr-foreground-dark);
}